@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

.homepage {
  @apply hero min-h-screen max-h-screen
}

.bg-hero {
  @apply bg-no-repeat h-screen bg-center bg-cover
}

.bg-video {
  @apply absolute inset-0 object-cover h-screen w-screen;
  filter: brightness(0.9);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 0px solid rgba(255, 255, 255, 0.3);

}

.mid-card {
  @apply py-20 px-14
}

.card-name {
  @apply font-serif text-7xl text-slate-50
}

.card-title {
  @apply font-sans text-xl text-slate-50
}

.social-button {
  @apply text-slate-50 hover:backdrop-brightness-110 rounded-md px-6 py-2 font-sans font-bold;
  /* background: rgba(103, 171, 255, 0.224) */
}